@charset "UTF-8";
/* CSS Document */
*:after { -webkit-user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -moz-tap-highlight-color: rgba(0, 0, 0, 0); -moz-user-select: -moz-none; -webkit-touch-callout: none; margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -ms-touch-action: pan-y; }
html { -ms-overflow-style: none !important; width: 100%; height: 100%; max-width: 1200px; }
body { margin: 0; padding: 0; height: 100%; overflow-y: auto; overflow-x: hidden; -webkit-text-size-adjust: none; font-family: 'Microsoft YaHei','Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; display: -webkit-box; /*-webkit-box-orient: vertical;*/ -webkit-box-align: stretch; background: #E8E8E8; }
input,
textarea { -webkit-usuer-select: text; -moz-user-select: -moz-text; -moz-user-select: text; outline: none; -webkit-appearance: none; }
video::-internal-media-controls-download-button { display: none; }
video::-webkit-media-controls-enclosure { overflow: hidden; }
video::-webkit-media-controls-panel { width: calc(100% + 30px); }
.clear { clear: both; }
.hide { display: none; }
img { border: none; }
a { text-decoration: none; color: #333; }
a:visited, a:hover { color: #333; }
.white, .white:visited, .white:hover { color: #ffffff; }
.black, .black:visited, .black:hover { color: #000; }
.blue, .blue:visited, .blue:hover { color: red; }
.redd, .redd:visited, .redd:hover { color: #8d2a2a; }
.reddd, .reddd:visited, .reddd:hover { color: #000000; }
.lanse, .lanse:visited, .lanse:hover { color: #01346b; }
.xiaoziti, .xiaoziti:visited, .xiaoziti:hover { font-size: 12px; }


.lred, .lred:visited, .lred:hover { color: #ff0000; }
.sblue, .sblue:visited, .sblue:hover { color: #344465; }
.sblues, .sblues:visited, .sblues:hover { color: #04274f; }
.red, red:visited, red:hover { color: red; }
.navi, .navi:visited, .navi:hover { color: #344465; }
.center { text-align: center; }
.btn { -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15); box-shadow: 0,1px 3px rgba(0,0,0,0.15); }
.custom-html { word-wrap: break-word; overflow: hidden; padding: 10px; }
.custom-html img { max-width: 100%; }

/*头部*/
.header { height: 44px; width: 100%; background: #102749; text-align: center; font-size: 1.0em; color: #fff; top: 0; position: fixed; z-index: 1000; }
.header h1, h2 { margin: 0; padding: 0 60px; font-size: 1.1em; line-height: 44px; font-weight: normal; }

.header h3 { margin: 0; padding: 0 40px 0 20px; font-size: 0.9em; line-height: 30px; font-weight: normal; text-align: left; }
.header .back { float: left; margin: 6px 10px; padding: 6px 10px; display: block; border-radius: 6px; line-height: 20px; cursor: pointer; }
.ui-content { margin-top: 44px; padding-bottom: 50px; }
.ui-page { width: 100%; padding-bottom: 53px; }

/*页面底部*/
.footer-sub { position: fixed; bottom: 0; width: 100%; z-index: 1000; }
.footer-sub table { border: none; margin: 0; padding: 2px 0; width: 100%; }
.footer-sub td { width: 20%; }
.footer-sub td > div { text-align: center; }
.footer-sub .icon img { width: 22px; height: 20px; vertical-align: text-bottom; }
.footer-sub .txt { color: #FFF; fontx-weight: normal; font-size: 12px; line-height: 20px; }

/*广告*/
.swiper-pagination { /*background:rgba(10,10,10, 0.35)!important;*/ bottom: 0 !important; height: 25px !important; }
/*.swiper-pagination-bullet { background:#DDD!important}
.swiper-pagination-bullet-active {background:#FFF!important }*/
.banner-box { position: relative; height: 200px; overflow: hidden; background: #cecfcf; }
.banner-box .pagebox { position: absolute; z-index: 2; left: 50%; bottom: 15px; }
.banner-box .pagebox > i { width: 7px; height: 7px; float: left; margin-left: 8px; background: #FFFFFF; border-radius: 50%; }
.banner-box .pagebox > i.on { background-color: #E60012; }
.banner-box .img { display: none; position: absolute; width: 1200px; height: 400px; left: 0; top: 0; z-index: 1; animation-duration: 0.5s; }
.banner-box .img img { width: 100%; height: 100%; }
.banner-box .img.on { display: block; animation-duration: 0.5s; }

/*相关资讯*/
.zixun { background: #fff; }
.zixun .logo { padding: 10px 10px 10px 10px;; font-size: 1.05em; font-weight: bold; }
.zixun .logo img { width: 16px; height: 16px; vertical-align: text-top; margin: 3px 5px 0 0; }
.zixun .content { padding: 0px 10px 10px 10px; background: #f1f1f1; }
.zixun .cate { }
.zixun .cate .title { background: #f1f1f1; text-align: center; padding-top: 15px; padding-bottom: 15px; }
.zixun .cate .title > span { color: white; font-size: 0.8em; border-radius: 10px; padding: 5px 10px; background: #CCC; display: inline-block; }
.zixun .cate .ad { background: #FFF; padding: 8px; }
.zixun .cate .ad img { width: 100%; height: 100%; }
.zixun .zxinfo { border-top: 1px solid #f1f1f1; border-top-style: dotted; padding: 8px; height: 55px; background: #fff; overflow: hidden; }
.zixun .zxinfo .icon { float: right; width: 70px; height: 50px; margin-left: 15px; }
.zixun .zxinfo .icon img { width: 100%; height: 100%; }
.zixun .zxinfo .txt { font-size: 1em; color: #111; }
.zixun .zxinfo .txt span { display: block; line-height: 25px; height: 50px; overflow: hidden; }
.contentnews { padding: 0px 10px 10px 10px; background: #f1f1f1; }

/** 附件下载*/
.adjunct { padding: 10px 20px; height: 30px; }
.adjunct a { float: right; display: block; width: 80px; height: 30px; text-align: center; line-height: 30px; border-radius: 10px; background: #07943a; color: #fff; }
.adjunct a:visited, .adjunct a:hover { color: #fff; }

/*分享、收藏*/
.pub { background-color: #f1f1f1; }
.tools { /*margin:0 10px;*/ }
.tool-box { padding: 20px; text-align: center; line-height: 20px; }
.tool-box > a { margin: 0 20px; padding: 2px 5px; border: 1px solid #eeeeee; color: #333; font-size: 15px; }
.tool-box img { width: 16px; height: 16px; }
.error-ui .content { width: 100%; position: absolute; top: 64px; overflow: hidden; }
.error-ui h2 { padding: 10px 20px; text-align: center; }
.error-ui p { padding: 5px 20px; color: #f00; line-height: 24px; text-align: center; }
/*评价*/
.evaluate-box { background: #fff; padding: 10px 10px 0 10px; }
.evaluate-box .title { font-size: 1.1em; line-height: 24px; }
.evaluate-box .title i { float: left; display: block; margin-top: 8px; margin-right: 8px; width: 10px; height: 10px; background-color: red; }
.evaluate-box .input-box { border-radius: 6px; margin: 10px 0; padding:5px 10px; background: #f1f1f1; }
.evaluate-box .input-box textarea { border: 0; background-color:transparent;width:99%;  }
.evaluate-box .input-btn { text-align:right;}
.evaluate-box .input-btn .btn {  background:#08aacf; color:#FFF; border: none; border-radius: 5px; padding: 2px 10px; height: 25px;}
/*.evaluate-box .input-box .l {display:inline-block; width:80%; }
.evaluate-box .input-box .r {display:inline-block; float:right; padding:5px; }
.evaluate-box .input-box .l textarea {border:none; border-radius:5px; width:99%; line-height:20px;background:#f1f1f1; }
.evaluate-box .input-box .btn { background:#08aacf; color:#FFF; border: none; border-radius: 5px; padding: 2px 10px; height: 25px; }*/

.evaluate-box .list { padding: 10px 0; }
.evaluate-box .list .rowe { border-bottom: 1px solid #DDD; padding: 6px 0; }
.evaluate-box .list .rowe .icon { float: left; }
.evaluate-box .list .rowe .icon img { width: 40px; height: 40px; }
.evaluate-box .list .rowe .btne { float: right; padding-left: 5px; }
.evaluate-box .list .rowe .btne img { vertical-align: text-top; }
.evaluate-box .list .rowe .text { margin: 0 70px 0 50px; overflow: hidden; }
.evaluate-box .list .rowe .text .info { word-wrap: break-word; }
.evaluate-box .list .rowe .text .date { color: #a8a6a6; font-size: 0.8em; padding-top:8px; }


/*主页面*/
.home { background: #fff; }
.home .header img { width: 79px; height: 30px; padding: 0px 0px; float: right; }
.home .content { }
.home .content .top img { width: 100%; }
.home .content .tishi { margin-top: -3px; text-align: center; height: 80px; line-height: 80px; font-weight: 600; font-size: 1.4em; color: #344465; background: #e2e2e2; }
.home .content .list { padding: 20px 0 0 0; text-align: center; }
.home .list .item { line-height: 50px; width: 50%; float: left; text-align: center; font-size: 1.3em; }
.home .list .item a { color: #000; font-weight: bold; padding: 1px 8px; text-shadow: none; font-family: '微软雅黑'; }
.home .list .item img { width: 12px; height: 12px; }
.home .naviTool { bottom: 0; position: fixed; width: 100%; padding: 10px 0; font-size: 1.0em; z-index: 1000; font-weight: bold; }
.home .naviTool > div { float: left; width: 25%; line-height: 30px; text-align: center; }

/*登陆*/
.login { margin: 0 0; padding: 0 0; background: #772728; }
.login .ui-header { background: #772728; border: none; }
.login .view { background: #f1f1f1; box-shadow: #eee; margin: 0 25px; margin-top: 30px; -webkit-border-radius: 1.0em; border-radius: 1.0em; }
.login .view .top { padding: 25px; line-height: 50px; height: 50px; }
.login .view .top .l { float: left; }
.login .view .top .l a { color: #333; font-size: 1.5em; }
.login .view .top .l img { width: 25px; height: 25px; float: left; margin-top: 12px; }
.login .view .top .r { float: right; }
.login .view .top .r img { width: 23px; height: 45px; }
.login .view .mid { padding: 0 20px; line-height: 40px; height: 80px; }
.login .view .mid .left { float: left; width: 30%; }
.login .view .mid .left div { line-height: 28px; font-size: 1.2em; padding: 0.4em 0; }
.login .view .mid .right { float: right; width: 70%; }
.login .view .btn-box { padding: 15px 20px; display: block; height: 60px; }
.login .view .btn-box table { width: 100%; }
.login .view .btn-box table td { width: 50%; }
.login .bottom { padding: 20% 30%; }
.login .bottom img { width: 100%; height: 100%; }

/*热门推荐信息*/
#hot_recommend_panel { background: #FFF; }
.hot_recom_inf { background: #FFF; }
.hot_recom_inf .title { padding: 10px 20px; font-size: 1.1em; font-weight: bold; color: #111; line-height: 20px; background: #EEE; }
.hot_recom_inf .info { padding: 10px 20px; }

/*找学校*/
.find-sch .title-box { padding: 8px 15px; background: #ebe9e8; }
.find-sch .title-box span { display: block; padding: 0 10px; background-color: red; color: #FFF; line-height: 22px; float: left; }
.find-sch .title-box_red { padding: 5px 10px; font-size: 1.2em; }
.find-sch .title-box_red img { margin-right: 6px; }
.find-sch .title-box_red span { display: block; padding: 0 10px; color: #000; line-height: 22px; float: left; }
.find-sch .title-box_red b { display: block; line-height: 22px; float: left; }
.find-sch .sch-box { background-color: #ebe9e8; padding: 5px 0; }
.find-sch .sch-box a { color: #FFFFFF; font-weight: normal; font-size: 1.0em; }

@media screen and (min-width:375px) {
    .find-sch .sch-box a { color: #FFFFFF; font-weight: normal; font-size: 0.9em; }
}

.find-sch .sch-box .sch1 { margin: 5px 10px 0px 10px; background-color: #9a2422; }
.find-sch .sch-box .sch2 { margin: 5px 10px 0px 10px; background-color: #0e3464; }
.find-sch .sch-box .sch1 .row:nth-child(n+1) { border-top: solid 0.5px #b13c3c; }
.find-sch .sch-box .sch1 .col:nth-child(n+1) { border-left: solid 0.5px #b13c3c; }
.find-sch .sch-box .sch2 .row:nth-child(n+1) { border-top: solid 0.5px #505050; }
.find-sch .sch-box .sch2 .col:nth-child(n+1) { border-left: solid 0.5px #505050; }

.find-sch .sch-box .sch3 { margin: 5px 10px 0px 10px; background-color: #9a2422; }
.find-sch .sch-box .sch3 .row:nth-child(n+1) { border-top: solid 0.5px #b13c3c; }
.find-sch .sch-box .sch3 .col:nth-child(n+1) { border-left: solid 0.5px #b13c3c; }
.find-sch .sch-box .sch3 .row .col { text-align: center; display: inline-block; line-height: 60px; height: 60px; width: 33%; white-space: nowrap; text-overflow: ellipsis; float: left; }
.find-sch .sch-box .sch2 .row .col { text-align: center; display: inline-block; line-height: 60px; height: 60px; width: 33%; white-space: nowrap; text-overflow: ellipsis; float: left; }


.find-sch .sch-box .row { height: 60px; }
.find-sch .sch-box .row .col { text-align: center; display: inline-block; line-height: 60px; height: 60px; width: 24.5%; white-space: nowrap; text-overflow: ellipsis; float: left; }
.find-sch .niuxue { background-color: #ebe9e8; padding: 10px; }
.find-sch .niuxue .row { background-color: #FFF; border-bottom: solid 1px #e5e5e5; padding: 8px 15px; height: 80px; }
.find-sch .niuxue .row .left { padding-right: 10px; overflow: hidden; }
.find-sch .niuxue .row .left .t { font-size: 1.1em; line-height: 30px; font-weight: bold; }
.find-sch .niuxue .row .left .v { color: #555; line-height: 20px; max-height: 40px; overflow: hidden; }
.find-sch .niuxue .row .right { float: right; }
.find-sch .niuxue .row .right img { width: 100px; height: 70px; }
.find-sch .niuxue .img { border-bottom: solid 1px #e5e5e5; padding: 8px 10px; background-color: #FFF; }
.find-sch .niuxue .img img { width: 100%; height: 100%; }

/*筛选学校*/
.sch-select .header { padding-left: 15px; }
.sch-select .header select:nth-child(1) { background: #b02739; }
.sch-select .header select:nth-child(2) { background: #2a669b; }
.sch-select .header select { float: left; height: 30px; color: #FFF; border: none; min-width: 120px; }
.sch-select .header a { float: left; color: #FFF; display: block; padding: 5px 10px; margin-top: 7px; min-width: 100px; }
.sch-select .header .one { background: #6c7b44; }
.sch-select .header .two { background: #4977b5; }

.search-box { background: #ccc; text-align: center; padding: 10px 20px; }
.search-box .l { height: 30px; }
.search-box input[type="search"] { padding: 0 10px; border: none; height: 30px; width: 80%; border-radius: 15px 0 0 15px; float: left; }
.search-box input[type="button"] { padding: 0 10px; height: 30px; width: 20%; border: none; border-radius: 0 15px 15px 0; background: #b65822; color: #FFF; }
.sch-select .row { border-bottom: 1px solid #d0d0d0; background: #fff; }
.sch-select .row .id { float: left; color: #fff; background: #d5d5d5; padding: 1px 4px; font-size: 0.4em; }
.sch-select .row .txt { padding: 20px 20px 10px 30px; min-height: 30px; font-size: 1.2em; }
.sch-select .row .txt .r { float: right; color: #b02739; }
.sch-select .row .txt .l { display: block; overflow: hidden; padding: 0 10px; }

/*学校*/
.school .content { background: #DEDEDE; }
.school .content .zyxx a { font-size: 15px; }
.school .content .redd { font-size: 14px; }
.school .content .logo-box { background: #9d9d9d; padding: 15px 25px 5px 5px; min-height: 130px; }
.school .content .logo-box img { width: 100%; height: 100%; }
.school .logo-box .logo img { border-radius: 50%; }
.school .content .logo-box .kjjg { float: left; width: 80%; min-height: 130px; }
.school .content .logo-box .logo { padding: 0px 10px 5px 35px; height: 50px; width: 50px; }
.school .content .logo-box .name { padding-top: 1px; padding-left: 25px; }
.school .content .logo-box .name .en { display: block; line-height: 15px; color: #75282C; font-size: 12px; word-break: break-all; }
.school .content .logo-box .name .zh {  line-height: 30px; color: #fff; font-size: 1.3em;  }
.school .content .logo-box .right { float: right; text-align: right; padding-top: 10px; }
.school .content .logo-box .right img { width: 60px; height: 50px; }
.school .content .atten { padding-top: 50px; font-size: 0.7em; color: #FFF; text-align: right; }
.school .content .advert { width: 100%; }
.school .content .advert img { width: 100%; height: 100%; }
.school .content .param { padding: 15px; background: #eceaea; line-height: 30px; }
.school .content .param img { float: right; margin-right: 50px; }
.school .content .param span { font-size: 12px; }
.school .content .abort { margin: 30px 10px 30px 10px; padding: 15px; padding-bottom: 50px; background: #9a2422; color: #fff; }
.school .content .abort span { line-height: 26px; text-indent: 2em; display: block; font-weight: normal; overflow: hidden; }
.school .content .abort .btn { background: none; border: none; color: #fff; font-weight: normal; width: 60px; float: right; margin: 0; }
.school .content .depart { background: #eceaea; padding: 15px; padding-top: 30px; }
.school .content .depart table { border: 0; width: 100%; }
.school .content .depart table > caption { color: #902F31; text-align: left; padding: 5px 0; font-size: 1.2em; }
.school .content .depart table td { width: 50%; height: 30px; }
.school .content .depart table td:nth-child(2n) { text-align: left; }
.school .content .set { padding: 15px; /*margin:0 10px 0 10px*/ }
.school .content .set .title { color: #902F31; padding: 5px 0; font-size: 1.2em; }
.school .content .set .list > div { float: left; line-height: 30px; height: 30px; width: 25%; }
.school .content .recruit { background: #eceaea; }
.school .content .row { line-height: 28px; }
.school .content .set a { color: #01346b; font-size: 14px; }
.school .content .set .wz a { color: red; }
.school .content .ranking { background: #eceaea; }
.school .content .ranking .title { color: #902F31; padding: 5px 0; font-size: 1.2em; text-align: left; }
.school .content .ranking .sub { color: #000; font-size: 1.0em; line-height: 24px; }
.school .content .ranking .list { overflow: hidden; }
.school .content .ranking .list ul { word-wrap: break-all; list-style-type: square; color: red; margin: 0; padding-left: 15px; }
.school .content .ranking .list ul > li { padding-bottom: 3px; font-size: 13px; line-height: 20px; }
.school .content .ranking .list ul > li em { font-style: normal; color: red; padding: 0 5px; font-family: 'Microsoft YaHei','Helvetica Neue', Helvetica, Arial, sans-serif; }
.sch-ranking > div { padding: 15px 10px; }
.sch-ranking .cate { background: #E2E3E8; }
.sch-ranking .cate .name { text-align: center; color: #111; font-size: 1.1em; font-weight: bold; }
.sch-ranking .cate .eng { text-align: center; font-size: 0.9em; color: #2a669b; padding: 8px 0; }
.sch-ranking .desc { }
.sch_ranking .sch { }
.sch-ranking .sch .title { font-weight: bold; color: #111; padding: 6px 0; }

/*正在建设*/
.waiting { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.waiting > p { padding: 0 20px; font-size: 1.0em; }
/*学校简介*/
.about { background: #f1f1f1; }
.about .txt { padding: 15px; line-height: 30px; }
/*学校专业*/
.sch-major .major-box { padding: 10px; }
.sch-major .major-box .top { height: 40px; }
.sch-major .major-box .top > i { display: block; float: left; width: 10px; height: 10px; background-color: red; margin: 15px 0; }
.sch-major .major-box .top > span { display: block; float: left; height: 22px; padding: 9px 10px; margin-left: 10px; background-color: #c4c3c3; color: white; font-weight: bold; font-size: 1.3em; }
.sch-major .major-box .row { overflow: hidden; font-size: 1.1em; padding: 10px 0; }
.sch-major .major-box .row .t { color: red; }
.sch-major .major-box .row .v { line-height: 24px; font-size: 14px; }
.sch-major .major-box .row > div { padding: 3px 3px; line-height: 28px; overflow: hidden; }
/*排名信息*/
.ranking { padding: 15px; }
.ranking .title { text-align: center; line-height: 40px; padding-bottom: 15px; }
.ranking .htm { width: 100%; }

/*招生信息*/
.enroll { background: #f9F9F9; }
.enroll .top { height: 10px; padding: 20px 10px; }
.enroll .top > i { display: block; float: left; width: 10px; height: 10px; background-color: red; margin: 15px 0; }
.enroll .top > span { display: block; float: left; height: 22px; padding: 9px 10px; margin-left: 10px; background-color: #c4c3c3; color: white; font-weight: bold; font-size: 1.3em; }
.enroll .title { padding: 5px 15px; font-weight: bold; color: #772728; }
.enroll .list { padding: 5px 15px; }
.enroll .list table { width: 100%; }
.enroll .list table tr { height: 30px; }
.enroll .list .fee { color: red; text-align: right; }
.enroll .htm { padding: 5px 15px; overflow: hidden; word-wrap: break-word; }
.enroll .htm p { }
.adjunct1 { /* margin:15px 0; padding:5px 15px;*/ background: #f0f0f0; }
.adjunct1 input[type="button"] { float: right; font-weight: bold; width: 80px; height: 28px; line-height: 28px; border-radius: 8px; border: 0; color: white; background: #28903f; }
.adjunct1 .title { color: #ff0000; font-weight: bold; }
.adjunct1 .list { line-height: 30px; overflow: hidden; }
.adjunct1 .list ul { word-wrap: break-all; list-style-type: square; color: red; margin: 0; padding-left: 20px; }
.adjunct1 .list ul > li { padding-bottom: 3px; }

.enroll .lianxi { background: #e9e9e9; padding: 15px 0; }
.enroll .lianxi .title { font-weight: bold; color: #772728; }
.enroll .lianxi .row { vertical-align: top; padding: 0 15px; }
.enroll .lianxi .row .th { float: left; width: 60px; color: #333; font-weight: bold; }
.enroll .lianxi .row .inf { float: left; line-height: 23px; }

/*学校视频课程-列表*/
.sch-video .ui-content { background: #F9F9F9; }
.sch-video .content table { width: 100%; border: 0; }
.sch-video .content table tr > td { padding-top: 10px; }
.sch-video .content table tr > td > img { width: 70px; height: 70px; margin: 0 8px; }
.sch-video .content table tr > td:nth-child(2n+1) { width: 50px; text-align: center; font-size: 16px; }
.sch-video .content table tr > td .title { font-size: 1.2em; color: #111; margin-bottom: 10px; }
.sch-video .content table tr > td .p-row { font-size: 0.8em; color: #777; height: 20px; line-height: 20px; }
.sch-video .content table tr > td .p-row > div { float: left; width: 49%; }
.sch-video .content .line { padding: 0; }
.sch-video .content .line div { display: block; width: 100%; border-bottom: 1px solid #e5e5e5; }

.v_course .ui-header { background: #75282C; padding: 15px 20px; text-align: center; font-weight: 500; }
.v_course .ui-header span { background: rgba(249, 249, 249, 0.58); color: #fff; font-size: 1.8em; text-shadow: none; padding: 5px 20px; }
.v_course .v-content { /*padding:0*/ }
.v_course .rbox { padding: 10px 15px; }
.v_course .r-title { color: #902F31; font-size: 16px; padding: 10px 0; }
.v_course .teacher { border-bottom: 1px solid #e5e5e5; }
.v_course .teacher .p { float: left; width: 49%; line-height: 26px; }
.v_course .brief .txt { line-height: 26px; }
.v_course .files table { border: 0; width: 100%; }
.v_course .files table tr > td { height: 26px; }
.v_course .files table tr > td img { width: 20px; height: 20px; margin-top: 4px; }
.v_course .files table tr > td:first-child { width: 30px; }
.v_course .files table tr > td:last-child { width: 30px; color: #999; }

.v_course .video { width: 100%; height: 56.25%; }
.v_course .video > video { width: 100%; height: 100%; }
.v_course .vinfo { background: #DEDDDC; padding: 6px 12px; }
.v_course .vinfo .title { font-size: 1.1em; color: #222; text-align: center; padding: 10px 0; }
.v_course .vinfo .other { }
.v_course .tab { background: #EBEAE8; }
.v_course .tab .section { font-size: 1.1em; cursor: pointer; line-height: 40px; }
.v_course .tab .section span { display: inline-block; text-align: center; width: 50%; }
.v_course .tab .section span.on { color: #43B5CC; border-bottom: 1px solid #43B5CC; }
.v_course .banel1 { }
.v_course .tab .free { padding: 10px 0; }
.v_course .tab .label { font-size: 1.1em; font-weight: bold; color: #b02739; padding: 10px 15px; }
.v_course .listen { text-align: center; padding: 20px; }
.v_course .listen span { background: #D4242C; color: white; font-size: 1.2em; padding: 5px 20px; border-radius: 8px; }
.v_course .tab .row { height: 24px; line-height: 24px; overflow: hidden; padding: 3px 15px; }
.v_course .tab .row em { float: right; color: #AAA; }
.v_course .tab .row img { width: 16px; height: 16px; }
.v_course .banel2 { }
.v_course .banel2 .name { padding: 15px; font-weight: bold; }
.v_course .banel1 .brief { padding: 0 15px; }
.buy_course { }
.buy_course .bline { border-bottom: 1px solid #DDD; }
.buy_course .row { padding: 10px 15px; line-height: 40px; }
.buy_course .row span { display: inline-block; }
.buy_course .th { width: 100px; text-align: right; }
.buy_course .v { color: #666; }
.buy_course .v em { color: red; font-weight: bold; }
.buy_course .buy { padding: 50px; text-align: center; }
.buy_course .buy > span { padding: 6px 30px; border-radius: 8px; background: #f26406; color: white; }
.buy_course .cpright { color: #999; text-align: center; padding: 30px 0; }

/*大学排名类型信息*/
.ranking-list { }
.ranking-list .padding { padding: 10px 15px; }
.ranking-list .desc { background: #dedddc; }
.ranking-list .desc .title { font-size: 16px; color: #222; }
.ranking-list .desc .txt { padding: 8px 0; color: #2f6192; font-size: 14px; text-indent: 2em; line-height: 24px; }
.ranking-list .row { }
.ranking-list .row .name { color: #702325; font-size: 16px; }
.ranking-list .row .eng { color: #e7131a; }
.ranking-list .row .txt { text-indent: 2em; line-height: 24px; padding: 8px 0; font-size: 14px; }
.ranking-list .ranking { border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; overflow: hidden; }
.ranking-list .ranking ul { list-style-type: square; color: red; padding: 0 15px; margin: 5px 0; }
.ranking-list .ranking ul > li { padding: 4px 0; }
.ranking-list .ranking ul > li a { color: #222222; font-size: 14px; }
.ranking-list .ranking ul > li em { color: red; padding-right: 5px;font-style:normal }
.ranking-list .ranking .btn-more { text-align: center; line-height: 30px; color: #908e8e; font-weight: bold; cursor: pointer; }

/*找专业*/
.major-index { background-color: white; }
.major-index .catalog { padding: 20px; background: #eee; line-height: 30px; }
.major-index .catalog > a { display: block; padding: 5px 0; font-weight: bold; font-size: 1.1em; color: #082b65; }
.major-index .catalog i { float: left; display: block; width: 5px; height: 14px; background: rgb(73, 119, 181); margin: 5px 10px 8px 0; }
.hot-recomm { background: #FFF; padding: 15px; }
.hot-recomm .title { padding: 8px 0 10px 0; color: #ff0000; font-size: 1.1em; }
.hot-recomm .list { line-height: 20px; }
.hot-recomm .list a { display: block; padding: 5px 0; }
.hot-recomm .list i { float: left; width: 6px; height: 6px; margin: 7px 10px 7px 0; background: red; }

#major_list_panel .header { text-align: left; }
#major_list_panel .dropdown { height: 26px; margin: 9px 10px; background: #6c7b44; color: white; border: 0; text-decoration: none; }
.major_find .input { padding: 8px 10px; }
.major_find .input .sch-txt { height: 30px; border-radius: 15px 0 0 15px; border: 1px solid #b02739; }
.major_find .input .sch-btn { height: 30px; line-height: 30px; background: #344465; color: #fff; padding: 3px 10px; }


.major_find .top { color: #2a669b; background: #EEE; overflow: hidden; }
.major_find .top .name { font-weight: 600; font-size: 18px; padding: 10px 0; color: #953734; }
.major_find .top .list { font-size: 12px; }
.major_find .top .list .item { float: left; line-height: 20px; padding: 5px 10px; cursor: pointer; }
.major_find .major { background: #F5F5F5; }
.major_find .row .t { }
.major_find .row .t img { width: 10px; height: 10px; margin-right: 3px; }
.major_find .row .t span { background: #9a9a9a; padding: 2px 5px; font-weight: bold; font-size: 16px; color: #FFF; }
.major_find .t { padding: 5px 0; }
.major_find .t ul { list-style-type: square; color: red; margin: 0; padding-left: 20px; padding-bottom: 10px; }
.major_find .t ul > li { float: left; font-weight: bold; font-size: 16px; background-color: #919191; padding: 1px 5px; }
.major_find .t ul > li > i { color: #FFF; font-style: normal; }
.major_find .tt { font-size: 14px; color: #333; padding: 10px 0; }
.major_find .l .item { /*float:left; line-height:30px; padding-right:20px;*/ padding: 5px 0; }
.major_find .l .item a { color: #2a669b; }
.major_find .l .item a:visited { color: #2a669b; }
.to-top { width: 30px; height: 30px; background: url(/images/Top_32.png) no-repeat; background-size: 30px 30px; z-index: 8888; position: fixed; right: 15px; bottom: 60px; }
/*找专业-专业信息*/
.major { /*width:100%*/ }
.major .top { color: #772728; min-height: 60px; background: #d0d0d0; }
.major .top .name { color: #d50505; font-size: 1.1em; text-align: center; margin-top: 20px; line-height: 22px; }
.major .row { font-size: 0.9em; overflow: hidden; }
.major .row .title { font-weight: bold; color: #222; line-height: 30px; font-size: 1.1em; }
.major .row .txt { line-height: 24px; font-size: 1.0em; }
.major .row .schools > a { display: inline-block; margin-bottom: 8px; padding-right: 10px; }
.major .section { }
.major .section .title { color: #333; padding: 5px 0; font-size: 1.2em; font-weight: bold; line-height: 28px; padding: 10px 15px; }
.major .section .title > i { margin-top: 8px; width: 16px; height: 16px; float: right; background: url('../images/arrow.png'); cursor: pointer; }
.major .section .title > i.show { background-position: 0px 16px; }
.major .section .line { border-bottom: 1px solid #ddd; }
.major .section .htm { background: #FFF; padding: 10px 15px; }


/*试题库*/
.shiti { }
.shiti .top { color: #772728; background: #DEDDDD; overflow: hidden; }
.shiti .top .name { font-weight: 600; font-size: 18px; padding: 10px 0; }
.shiti .top .list { font-size: 14px; }
.shiti .top .list .item { float: left; line-height: 30px; padding: 5px 10px; }
.shiti .sub { background: #F5F5F5; }
.shiti .row .t img { width: 10px; height: 10px; margin-right: 3px; }
.shiti .row .t span { background: #9a9a9a; padding: 1px 5px; font-weight: bold; font-size: 16px; color: #FFF; }
.shiti .row .t { padding: 5px 0; }
.shiti .row .t ul { list-style-type: square; color: red; margin: 0; padding-left: 20px; padding-bottom: 10px; }
.shiti .row .t ul > li { float: left; font-weight: bold; font-size: 16px; background-color: #919191; padding: 2px 5px; }
.shiti .row .t ul > li > i { color: #FFF; font-style: normal; }
.shiti .row .v .item { float: left; line-height: 30px; padding-right: 20px; font-size: 0.9em; }
.shiti-l { background: #F5F5F5; }
.shiti-l .tool { background: #DEDDDD; height: 40px; }
.shiti-l .tool > select { float: left; height: 30px; color: #FFF; border: none; min-width: 120px; }
.shiti-l .tool .cate1 { background: #b02739; }
.shiti-l .tool .cate2 { background: #2a669b; }
.shiti-l .row:nth-of-type(2n+1) { background: #c8c8c8; }
.shiti-l .row span { line-height: 22px; }
.shiti-l .row a { float: right; line-height: 22px; color: #772728; cursor: pointer; }

/*考试*/
.box1 { padding: 10px 15px; }
.exam-b { background-color: #eceae9; }
.exam-b ul { list-style-type: square; color: red; margin: 0; padding-left: 20px; padding-bottom: 10px; }
.exam-b ul > li { color: #000; font-weight: bold; font-size: 16px; }
.exam-b .names { overflow: hidden; line-height: 30px; }
.exam-b .names .v { line-height: 30px; padding: 5px 0; margin-left: 15px; color: #333; }
.exam-b .names .v .item { float: left; width: 33%; }
.exam-b .tishi { background: #d0d0d0; color: red; padding: 15px; line-height: 26px; }
.exam-b .month { }
.exam-b .month table { width: 100%; }
.exam-b .month table tr > td { padding: 0 8px; }
.exam-b .month table tr .empty { height: 25px; }
.exam-b .month table tr > td > p { margin: 5px 0; }
.exam-b .month table tr > td:nth-child(odd) { color: #666; font-size: 15px; width: 50px; min-height: 20px; }
.exam-b .month table tr > td:nth-child(even) { background-color: white; color: #2a669b; vertical-align: top; }
.exam-b .month table tr > td a { color: #2a669b; }
.exam-b .month table tr > td a:hover { color: #2a669b; }
.exam-b .month table tr > td a:visited { color: #2a669b; }
.exam { background: #ECEAEA; }
.exam .adjunct1 { padding: 10px 15px; background: #e9e9e9; }
.exam .adjunct1 a { padding-left: 2px; }
.exam .brief { background: #dedddc; padding: 10px; }
.exam .brief .txt { color: #406c99; line-height: 26px; }
.exam .brief .ts { color: #803D3A; line-height: 26px; padding: 5px 0; }
.exam .tishi { background: #dedddc; color: red; line-height: 26px; padding: 10px 15px; }
.exam .section { }
.exam .section .title { color: #333; padding: 5px 0; font-size: 1.1em; font-weight: 600; line-height: 28px; padding: 10px 15px; }
.exam .section .title > i { margin-top: 8px; width: 16px; height: 16px; float: right; background: url('../images/arrow.png'); cursor: pointer; }
.exam .section .title > i.show { background-position: 0px 16px; }
.exam .section .line { border-bottom: 1px solid #ddd; }
.exam .section .htm { background: #FFF; padding: 10px 15px; }
/*教育论坛*/
.froum .top { overflow: hidden; }
.froum .top .title ul { list-style-type: square; color: red; margin: 0; padding: 10px 0; padding-left: 20px; font-weight: 600; font-size: 1.2em; }
.froum .top ul > li { color: #772728; }
.froum .top .list { padding: 8px 0; }
.froum .top .list > ul { margin: 0; padding-left: 10px; }
.froum .top .list > ul > li { color: #555; float: left; margin: 0 20px 10px 20px; }
.froum .cap { background: #DEDDDD; padding: 8px 15px; }
.froum .row { border-bottom: 5px solid #fff; }
.froum .row .name { float: left; padding: 2px 8px; color: #fff; background: #b0b0b0; font-size: 1.2em; }
.froum .row ul { margin: 8px; padding-left: 20px; list-style-type: square; }
.froum .row ul > li { padding: 5px 0; border-bottom: 1px dashed #989898; }
.froum .row .more { height: 40px; line-height: 40px; font-size: 1.2em; text-align: right; }
.froum-info .top { background: #d0d0d0; }
.froum-info .top .title { font-weight: bold; font-size: 1.2em; line-height: 28px; padding-top: 10px; }
.froum-info .top .sub { line-height: 26px; }
.froum-info .top .date { color: #fff; float: left; }
.froum-info .top .count { text-align: right; }
.froum-info .txt-box > p > img { width: 100%; }
.froum-more .name { background: #b7b7b7; line-height: 30px; font-size: 1.3em; font-weight: bold; }
.froum-more .list > ul { padding-left: 20px; }
.froum-more .list > ul > li { padding: 10px 0 5px 0; border-bottom: 1px dashed #c1c1c1; }
.froum-more .pager { text-align: right; }

/*招聘信息*/
.title-box { line-height: 20px; padding: 10px 0; }
.title-box i { height: 10px; width: 10px; margin: 5px 0; background: #cc0606; display: block; float: left; }
.title-box span { padding: 1px 10px; background: #bbb; color: #fff; font-size: 1.2em; margin-left: 5px; }
.attent .row { background: #f9f9f9; padding: 10px 15px; margin: 5px 0; line-height: 24px; }
.attent .row .name { font-size: 1.1em; }
.attent .row span { color: #2a669b; }
.attent .row .date { color: #bbb; font-size: 0.8em; text-align: right; }
.jobcity .city { background: #ddd; }
.jobcity .city .list { padding: 5px 0; }
.jobcity .city .list a { float: left; line-height: 20px; padding: 5px 10px; font-size: 0.9em; }
.jobcate .cate .list ul { margin: 0; padding-left: 25px; }
.jobcate .cate .list li { padding: 10px 0; padding-right: 30px; float: left; }
.jobinfo { position: absolute; width: 100%; height: 100%; overflow: hidden; }
.jobinfo .top { line-height: 50px; text-align: center; font-weight: bold; font-size: 1.2em; color: #222; }
.jobinfo .top > a { float: right; }
.jobinfo .shux { background: #ddd; line-height: 30px; }
.jobinfo .zhiwei { padding: 10px 15px; background: #FFF; }
.jobinfo .zhiwei:nth-child(n+2) { border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; }
.jobinfo .zhiwei .title { font-weight: bold; font-size: 1.0em; }
.jobinfo .zhiwei .brief { }
.jobinfo .jobs { }
.jobinfo .jobs .title { color: #772728; }
.jobinfo .jobs .title i { height: 10px; width: 10px; margin: 5px 0; background: #cc0606; display: block; float: left; }
.jobinfo .jobs .title span { margin-left: 8px; }
.jobinfo .jobs .remarks { font-size: 0.8em; color: #f2522e; line-height: 20px; padding: 8px 0; }
.jobinfo .jobs .row { padding: 10px 0; }
.jobinfo .jobs .row > div { line-height: 26px; }
.jobinfo .jobs .row .name { color: #2a669b; font-weight: bold; }
.jobinfo .contact { background: #ddd; }
.jobinfo .contact > div { line-height: 28px; }
.jobinfo .contact p { color: #772728; }

.bjbaishe { background: #FFF; }
/*news*/
.news .row .t { font-size: 0.8em; color: #FFF; text-align: center; padding: 15px 0 15px 0; }
.news .row .t > span { background: #ccc; border-radius: 10px; display: inline-block; padding: 5px 10px; }
.news .row .img { background: #fff; padding: 10px; }
.news .row .img img { width: 100%; height: 100%; }
.news .row .l { height: 60px; background: #FFF; border-top: 1px solid #f1f1f1; padding: 10px; border-top-style: dotted; }
.news .row .l img { float: right; width: 80px; height: 60px; padding-left: 15px; }
.news .row .l a { vertical-align: middle; }
.newinfo .top { background: #ccc; padding: 20px; padding-bottom: 10px; }
.newinfo .top .t { font-size: 1.2em; font-weight: bold; }
.newinfo .top .f { color: #FFF; font-size: 0.8em; padding-top: 10px; }
.newinfo .img img { width: 100%; }
.newinfo .box1 { background: #FFF; }
/*liuxue*/
.study-i .city { background: #dedcdb; }
.study-i .city .title { margin: 10px 0; font-size: 1.2em; }
.study-i .city .title i { height: 10px; width: 10px; margin: 8px 0; background: #cc0606; display: block; float: left; }
.study-i .city .title span { color: #FFF; background: #b0b0b0; margin-left: 5px; padding: 1px 5px; }
.study-i .city .list { }
.study-i .city .list a { float: left; padding: 8px 10px; font-size: 0.9em; }
.study-i .title { font-size: 1.1em; font-weight: bold; }
.study-i .row { background: #f9f9f9; padding: 15px; margin: 5px 0; height: 60px; overflow: hidden; }
.study-i .row .icon { width: 80px; height: 60px; float: right; }
.study-i .row .icon img { width: 100%; height: 100%; }
.study-i .row .name .t { font-size: 1.2em; }
.study-i .row .name .txt { font-size: 0.9em; line-height: 20px; }
.study-i .zixun .cate .title span { font-weight:normal}
/*.study-r { position:absolute; width:100%; height:100%;}*/
.study-r .title { margin: 10px; font-size: 1.1em; font-weight: bold; }
.study-r .row { background: #f9f9f9; padding: 15px; margin: 5px 0; height: 60px; overflow: hidden; }
.study-r .row .icon { width: 80px; height: 60px; float: right; }
.study-r .row .icon img { width: 100%; height: 100%; }
.study-r .row .name .t { font-size: 1.2em; }
.study-r .row .name .txt { font-size: 0.9em; line-height: 20px; }
.study .top { font-size: 1.2em; }
.study .img img { width: 100%; height: 100%; }
.study .desc { background: #FFF; text-indent: 2em; line-height: 24px; }
.study .desc .contact { text-indent: 0; padding: 10px 0; }
.study .desc .contact > div { padding: 2px 0; }
.study .desc .contact .title { color: #953734; font-size: 1.1em; }
en { font-family: 'Microsoft YaHei'; }

/*联系方式*/
.contact { line-height: 28px; }
.contact .title { color: #953734; font-size: 1.2em; padding: 5px 0; }
.contact .txt { color: #000; font-size: 15px; }
.adjunct-doc > div { padding: 10px; }
/*弹出层*/
.hw-overlay { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.3); z-index: 99990; }
.hw-layer-wrap { box-sizing: border-box; position: absolute; width: 100%; top: 44px; padding: 10px; /*width:570px;left:50%;top:50%; margin-left:-285px;  padding:45px 50px; border-radius:3px;*/ background-color: #fff; box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.12); }
.hwLayer-close { position: absolute; right: 20px; top: 20px; width: 20px; height: 20px; cursor: pointer; font-size: 20px; color: #ccc; }
.hw-layer-wrap .hw-icon { color: #b4d8f3; font-size: 86px; text-align: center; }
.hw-layer-wrap h4 { margin: 5px 0 30px; font-size: 24px; color: #383c3e; }
.hw-layer-wrap p { margin: 30px 0; line-height: 22px; color: #595d60; text-align: left; }
.hw-layer-wrap .item { overflow-y: scroll; max-height: 200px; }
.hw-layer-wrap .item span.on { color: red; font-weight: bold; }
.hw-layer-wrap .item-city { display: none; }
.hw-layer-title { height: 32px; line-height: 32px; font-size: 16px; position: absolute; left: 20px; top: 10px; font-weight: bold; }
.hw-city-title { font-weight: bold; font-size: 1.2em; padding: 5px 0; border-bottom: 1px solid #E5E5E5; }
.arrow-d { width: 20px; height: 15px; display: block; float: right; margin-top: 3px; background: url("/images/arrow-d.png"); }
/*@media (max-width:768px) {
    .hw-layer-wrap { width:350px; margin-left:-175px; margin-top:-200px; padding: 45px 50px; text-align: center; }
}
@media (max-width:400px) {
    .hw-layer-wrap { width:250px; margin-left:-125px; padding: 25px 30px; }
}*/
